<h1>About</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 about__item about__photo">
      <img ng-src="{{about.photo_zach}}" alt="Picture of Zach Azar" class="about__photo__img">
    </div>
    <div class="col-md-6 about__item">
      <p><t/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam est nisi, commodo commodo rutrum faucibus, sollicitudin id ante. Mauris imperdiet sem non orci ornare interdum. Curabitur sit amet libero pellentesque, facilisis leo maximus, vehicula orci. Donec nec imperdiet elit, sit amet placerat magna. Aliquam erat volutpat. In lacinia arcu et dolor rutrum vehicula. </p>
      <p>Sed convallis, quam vitae ultrices elementum, elit ante congue justo, quis blandit libero arcu suscipit arcu. Duis efficitur sapien ac augue fringilla, id dictum risus faucibus. Ut ut ex at velit laoreet finibus. Mauris vestibulum vulputate risus, vel tempor leo consectetur et. Nulla non iaculis lorem, vel venenatis risus. </p>
      <p>Nullam quis consequat metus. Nunc dui dui, aliquam ut feugiat ut, gravida a leo. Proin vulputate sed arcu sed porta. Donec dapibus quam sed scelerisque posuere. Nam aliquet odio massa, ut rutrum nisl dignissim sit amet. Sed faucibus urna vitae facilisis blandit. Cras tellus purus, efficitur ut pretium sit amet, dapibus id neque. Donec sit amet rutrum ligula. Vestibulum odio elit, ornare semper sagittis ac, tincidunt eu magna. </p>
    </div>
  </div>
</div>