@import '../../styling/variables.scss';

.about{
  background-color: white;
  border-radius: $border-radius;
  padding: 20px;
  &__item{
    margin-bottom: 30px;
  }
  &__photo{
    text-align: center;

    &__img{
      width: 50%;
    }
  }

}