<footer class="container-fluid footer">
  <div class="text-center">
    <div class="footer__item footer__social">
      <a href="https://www.linkedin.com/in/zach-azar" title="Link to Zach's LinkedIn Profile"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <a href="https://github.com/zachazar/" title="Link to Zach's Github Profile"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/zachazar/" title="Link to Zach's Instagram Profile"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
    </div>
    <p class="footer__item">&copy; 2016 Zach Azar</p>
  </div>
</footer>