//Colors
$color-background: #4592cb;
$color-nav: #f8f8f8;
$color-tile: #f8f8f8;
$color-skill: #1777bf;

//Screen Sizing
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

//Font Sizing
$font-large: 24px;
$font-major: 20px;
$font-normal: 16px;
$font-minor: 14px;
$font-small: 12px;

//Borders
$border-radius: 10px;