@import '../../styling/variables.scss';


.navbar-brand{
  font-size: $font-major;
}

#navbar-collapse{
  .topbar{
    &__header{
      font-size: $font-normal;
    }

    &__links{
      font-size: $font-normal;
      & .active a{
        color: white;
        background-color: $color-background;
      }

    }
  }
}