@import '../../styling/variables.scss';


#navbar-collapse{
  .topbar{
    
    &__header{
      font-size: $font-normal;
    }

    &__links{
      font-size: $font-normal;
      & .active a{
        background-color: $color-background;
      }

    }
  }
}