<div class="resumeTile" ng-class="{'active': active}" 
  data-toggle="collapse" data-target="{{'#resumeTile__info__' + resumeTile.tile.id}}" aria-expanded="false" aria-controls="{{'resumeTile__info__' + resumeTile.tile.id}}">
  <div class="resumeTile__title"> 
    <p class="resumeTile__title__major" ng-bind="resumeTile.tile.title"></p>
    <p class="resumeTile__title__minor" ng-if="!resumeTile.tile.hasUrl" ng-bind="resumeTile.tile.titleMinor"></p>
    <a class="resumeTile__title__minor" ng-href="{{resumeTile.tile.url}}" ng-if="resumeTile.tile.hasUrl">Github</a>
  </div>
  <p class="resumeTile__subheader">
    <span class="resumeTile__subheader__project" ng-bind="resumeTile.tile.project"></span>
    <span class="resumeTile__subheader__org" ng-bind="resumeTile.tile.org"></span>
    <span class="resumeTile__subheader__duration" ng-bind="resumeTile.tile.duration"></span>
    <span class="resumeTile__subheader__location" ng-bind="resumeTile.tile.location"></span>
  </p>
  
  <div class="resumeTile__info collapse" id="{{'resumeTile__info__' + resumeTile.tile.id}}">
    <!-- Skills (on mobile)-->
    <div class="resumeTile__skills hidden-lg hidden-md hidden-sm"> 
      <ul ng-if="resumeTile.tile.skills" class="resumeTile__skills__list">
        <li ng-repeat="skill in resumeTile.tile.skills" ng-bind="skill.name"></li>
      </ul>
    </div>
    <!-- EDU -->
    <div class="resumeTile__info__thesis" ng-if="resumeTile.tile.thesis">
      <p>Thesis: <span class="resumeTile__info__thesis__title" ng-bind="resumeTile.tile.thesis.title"></span></p>
      <p class="resumeTile__info__thesis__description" ng-bind="resumeTile.tile.thesis.description"></p>
    </div>
    <p class="resumeTile__info__minors" ng-bind="resumeTile.tile.minors"></p>
    <p class="resumeTile__info__honors" ng-bind="resumeTile.tile.honors"></p>
    <!-- Work -->
    <ul ng-if="resumeTile.tile.responsibilities" class="resumeTile__info__responsibilities">
      <li ng-repeat="resp in resumeTile.tile.responsibilities" ng-bind="resp"></li>
    </ul>
  </div>
</div>